{{!-- <nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">Find My Small Businesses</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard">Find A Small Business</a></li>
            <li><a href="/login">Manage My Account</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav> --}}
<!--Starting of Nav-->
<nav>
    <div class="logo">
        <img src="/images/ro.png">
    </div>
    <div class="nav-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/businesses">Find My Business</a></li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/account">My Info</a></li>
        </ul>
    </div>
</nav>
<!--Ending of Nav-->