<h3><i class="fas fa-poo">Find My Small Businesses</i></h3>
<div class="section">
    <p class="lead">Find Local Small Businesses</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>