<!--Log In-->
<section id="header">
  <div class="container">
    <div class="header-text">
      <h1>Welcome!</h1>
      <br>
      <p>→ New User? Click below to start a new account?</p>
      <p>→ Returning User? Sign in to view updates!</p>
      <br>


      </p>

    </div>
  </div>

</section>

<footer id="mainFooter">
  <p>Copyright &copy; 2020 Iconic Hackathon Team</p>
</footer>
</body>

</html>