<!--Log In-->
<section id="header">
  <div class="signin-container">
    <div class="header-text">
      <h1>Welcome!</h1>
      <br>
      <p>→ Click <a href="/auth/google">here</a> to sign in through Google!</p>
      <br>
      </p>

    </div>
  </div>

</section>

<footer id="mainFooter">
  <p>Copyright &copy; 2020 Iconic Hackathon Team</p>
</footer>
</body>

</html>
