* {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	color: #2b0b2a;
}

.main {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	/**background: linear-gradient(right, #9c27b0,#8ecdff);
  background:linear-gradient(90deg, #9A76A5 33%,#C89DD8 40%, #E6DED3 60%);
  background: linear-gradient(to left,#211522,#613659,#D3B1C2);*/
	background: linear-gradient(to left, #9a76a5, #c89dd8, #e6ded3);
}

nav {
	width: 80%;
	position: sticky;
	margin: 20px auto;
	z-index: 1;
	display: flex;
	align-items: center;
}
.logo {
	flex-basis: 20%;
}
.logo img {
	width: 150px;
}

.nav-links {
	flex: 1;
	text-align: right;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.nav-links ul li a {
	color: #fff;

	text-decoration: none;
}

.container {
	margin-right: 100px;
	margin-left: 100px;
}

.header-text {
	max-width: 350px;
	margin-top: 140px;
}
