*{
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  font-family: sans-serif;
}
.main{
  width: 100%;
  height: 100vh; 
  position: relative;
  overflow:auto;
  /**background: linear-gradient(right, #9c27b0,#8ecdff);
  background:linear-gradient(90deg, #9A76A5 33%,#C89DD8 40%, #E6DED3 60%);
  background: linear-gradient(to left,#211522,#613659,#D3B1C2);*/
  background: linear-gradient(to left, #3E479C,#548EE7,#E6DED3)
}
nav{
  width: 80%;
  position: sticky;
  margin: 20px auto;
  z-index: 1;
  display: flex;
  align-items: center;

}
 .logo{
  flex-basis: 20%;
}
.logo img {
  width: 150px;
  
}

.nav-links{
  flex: 1;
  text-align: right;
 
}

.nav-links ul li
{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.nav-links ul li a
{
  color: #fff;

  text-decoration: none;

}
#mainFooter{
  background: #3333;
  color:#fff;
  text-align: center;
  padding:20px;
  margin-top: 590px;
}
